/* === BODY === */
.container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 50rem;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 15rem);
    background: url('../img/hero_redu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
.hero__content{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 120rem;
    /* border: 1px solid black; */
}
.hero__content>h1,
.hero__content>p
{max-width: 50rem;}
.main{
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.section{
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0 2rem;
}
.section--bg1{
    /* background-color: #ddf0f3; */
    background-color: #f4eddd;
    height: 30rem;
}
.section__title{
    margin: 0 auto 2rem;
    text-align: center;
}
.section__content{
    margin: 0 auto 3rem;
}
.section__content--category{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}
.category{
    height: 35rem;
    /* border: 1px solid black; */
}
.category__img-wrapper{
    display: block;
    height: 30rem;
    /* border: 1px solid black; */
}
.category__img-wrapper:hover~.category__title{
    text-decoration: underline;
}
.category__title{
    line-height: 5rem;
    text-align: center;
}