/* === BODY === */
.container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 50rem;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.hero{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5rem;
    width: 100%;
    height: calc(100vh - 15rem);
    background: url('../img/hero_redu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
.hero__content{
    width: 50rem;
    border: 1px solid black;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 78%;
    min-height: 100%;
    padding: 2rem;
    /* border: 1px solid black; */
}