/*  
    FONTS:
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;

    ANOTHER POSSIBLE FONTS:
    ROBOTO, UBUNTU, NUNITO.
*/

/* === RESETS === */
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
html{font-size: 62.5%;}
body{
    font-size: 1.6rem;
    /* background-color: var(--bgColor); */
}
a{
    text-decoration: none;
    color: var(--secondaryColor);
}
p,a,span{line-height: 1.3;}
ul,ol{list-style: none;}
input,textarea,button,select,a{
    border: none;
    outline: none;
    overflow: hidden;
}
table, tr, td{
    border: none;
    border-collapse: collapse;
}
img{width: 100%;}
h1{font-size: 4rem;}
h2{font-size: 3rem;}
h3{font-size: 2.5rem;}
h4{font-size: 2rem;}
h5{font-size: 1.8rem;}
:root{
    --primaryColor: #fff;
    --almostWhite: #eeeeee;
    --lightGray1: #e6e6e6;
    --strongGray1: #303030;
    --strongGray2: #252525;
    --strongGray3: #141414;
    --secondaryColor: #000;
    --bgColor: #faf9f8;
    --footer: #e4e4e4;
    --blueLight1: #489ed7;
}

/* === UTILIDADES === */
.limit-width{max-width: 120rem;}
.limit-width-15r{max-width: 15rem;}
.img-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.line-height-08{line-height: .8;}
/* === HEADER === */
.header{
    position: relative;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--primaryColor);
    box-shadow: 0 4px 2px -2px var(--almostWhite);
    z-index: 2;
    /* border: 1px solid black; */
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    height: 10rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    /* border: 1px solid black; */
}
.logo{
    color: var(--blueLight1);
}

/* === NAV (HEADER) === */
.menu{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.menu--central{width: 100%;}
.menu__element{
    position: relative;
}
.menu__element::after{
    content: '';
    position: absolute;
    bottom: -.8rem;
    left: 0;
    width: 0;
    height: .4rem;
    background-color: black;
    border-radius: 1rem;
    transition: width 175ms ease-out;
}
.menu__element:hover::after{
    width: 100%;
}

/* === NAV (BODY) === */
.left-nav-link{    
    display: block;
    width: 100%;
    text-align: center;
    line-height: 4.5rem;
    height: 4.5rem;
    border: 1px solid black;
}

/* === FOOTER === */
.footer{
    width: 100%;
    min-height: 11rem;
    background-color: var(--footer);
    /* border: 1px solid black; */
}
.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 11rem;
    margin: 0 auto;
    /* border: 1px solid black; */
}

/* === BOTONES E INPUTS === */
.btn{
    display: inline-block;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: .65rem 1rem;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    transition: background-color 175ms ease-out;
}
.btn:hover, .btn:focus{
    color: var(--secondaryColor);
    background-color: var(--blueLight1);
}
.btn--inv{
    color: var(--secondaryColor);
    background-color: var(--blueLight1);
}
.btn--inv:hover, .btn--inv:focus{
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}
.btn--outline{
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    color: var(--secondaryColor);
}
.btn--outline:hover, .btn--outline:focus{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}
.btn--md{
    padding: .8rem 1.25rem;
    font-size: 1.65rem;
}
.btn--lg{
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
}
.btn--rad-1{
    border-radius: 1rem;
}
/* === CARDS === */
.card__header{
    width: 100%;
    height: 30rem;
    border-bottom: 1px solid var(--lightGray1);
    /* border: 1px solid black; */
}
.card__body, .card__footer{background-color: var(--primaryColor);}
.card__body{padding: 2rem 2rem 1rem}
.card-title{
    margin-bottom: 1rem;
    font-size: 2.25rem;
}
.card__footer{padding: 1rem 2rem 2rem}